<!DOCTYPE HTML>
<html>
<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="tag" placeholder="Введите тэг">
            <input type="text" name="text" placeholder="Введите текст">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Добавить</button>
        </form>
    </div>

    <div>Список сообщений</div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Найти</button>
    </form>
<!--    Непустой список-->
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{tag}}</span>
            <i>{{text}}</i>
            <strong>{{authorName}}</strong>
        </div>
    {{/messages}}
</body>
</html>